{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .ending-soon {
    padding-top: 3rem;
  }
  .ending-soon .title {
    margin-bottom: 1.5rem;
  }
  .ending-soon .price {
    color: #FFFFFF;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="ending-soon">
    <div class="collection__title title-wrapper--no-top-margin page-width">
      <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        Related Offers You Might Love
      </h2>
    </div>
    <ul
      class="related-product-grid grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
      role="list"
    >
      {% assign skip_card_product_styles = false %}
      {% assign current_date = 'now' | date: '%s' %}
      {%- for product in collections.all.products limit: 4 -%}
        {% assign end_date = product.metafields.custom.end_date | date: '%s' %}
        {% if end_date > current_date %}
          <li class="related-product">
            {% render 'card-product-related',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: section.settings.quick_add,
              placeholder_image: 'https://cdn.shopify.com/s/files/1/0661/5164/5373/files/uc-default-offer-image.png?'
            %}
          </li>
        {% endif %}
        {%- assign skip_card_product_styles = true -%}
      {%- else -%}
        {%- for i in (1..section.settings.columns_desktop) -%}
          <li
            class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% liquid
              assign ridx = forloop.rindex
              case ridx
                when 5
                  assign ridx = 1
                when 6
                  assign ridx = 2
              endcase
            %}
            {% render 'card-product-related',
              show_vendor: section.settings.show_vendor,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              placeholder_image: 'https://cdn.shopify.com/s/files/1/0661/5164/5373/files/uc-default-offer-image.png?'
            %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
  </div>
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>
